<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Math Facts</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.3/nouislider.min.css">
  <link rel="stylesheet" href="math-facts.css">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.3/nouislider.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
</head>

<body>
  <div id="math-app">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Math Facts</a>
        <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">JavaScript</a></li>
        </ul> -->
      </div>
    </nav>

    <div class="container-fluid">

      <div class="row">

        <div class="col s4">
          <div class="row">
            <div class="col s6" style="text-align: center;">

              <p class="blue-grey-text" v-on:click="generateFacts">Choose Min/Max Numbers</p>
              <div id="multiplication-range" style="margin-top: 55px;" ref="slider"></div>


              <p>Study Mode</p>
              <div class="switch">
                <label>
                  Off
                  <input type="checkbox" v-model="studyMode" v-on:change="toggleStudyMode">
                  <span class="lever"></span>
                  On
                </label>
              </div>

              <div v-if="studyMode">
                <p>Always Show Answer</p>
                <div class="switch">
                  <label>
                    Off
                    <input type="checkbox" v-model="showAnswer" v-on:change="displayAnswer">
                    <span class="lever"></span>
                    On
                  </label>
                </div>
              </div>

              <div class="audio" v-if="!studyMode">
                <div style="margin: 30px 0;">
                  <p>Play Sounds</p>
                  <div class="switch">
                    <label>
                      <i class="material-icons">volume_off</i>
                      <input type="checkbox" v-model="enableSounds" v-on:change="initDropdown">
                      <span class="lever"></span>
                      <i class="material-icons">volume_up</i>
                    </label>
                  </div>
                </div>

                <div v-if="enableSounds">
                  <div class="row">
                    <div class="input-field col s12">
                      <select class="icons" v-model="successSound">
                        <option v-for="option in sounds.success" v-bind:value="option.value"
                          v-bind:data-icon="option.icon">
                          {{ option.label }}
                        </option>
                      </select>
                      <label>Success Sound</label>
                    </div>

                    <div class="input-field col s12">
                      <select class="icons" v-model="missedSound">
                        <option v-for="option in sounds.missed" v-bind:value="option.value"
                          v-bind:data-icon="option.icon">
                          {{ option.label }}
                        </option>
                      </select>
                      <label>Missed Sound</label>
                    </div>
                  </div>
                </div>
              </div>


              <stopwatch style="margin: 30px 0;" />

            </div>
          </div>
        </div>

        <div class="col s5">

          <div class="facts" v-on:click="factsHandler" v-bind:class="{ pointer: studyMode, noselect: studyMode }">
            <div class="fact">{{facts[0]}}</div>
            <div class="fact">{{facts[1]}}</div>
            <input type="number" v-bind:min="slider.min" v-bind:max="slider.max" class="answer browser-default"
              v-model="answer" v-on:keyup.enter="validate" v-bind:readonly="studyMode">
            <a class="btn-flat grey-text lighten-2" v-show="!studyMode && skipsRemaining > 0"
              v-on:click="skipFact">SKIP</a>
            <i class="material-icons missed-fact" v-show="!studyMode && isIncorrect">close</i>
          </div>

          <div class="streak-container" v-if="!studyMode">
            <p>YOUR STREAK <span>{{streak}}</span></p>
            <span class="highScore teal-text">High Score {{this.highScore}}</span>
          </div>

          <div class="feedback" v-bind:class="{ active: feedback !== null}">
            {{feedback}}
          </div>
        </div>

        <div class="col s3">

          <div v-if="studyMode">
            <p class="mode-title">Study Mode</p>
            <small class="grey-text lighten-2" style="display: block; text-align: right;">
              <i class="material-icons" style="vertical-align: middle;">info_outline</i>
              Tip: Use right arrow to move to next fact
            </small>
          </div>

          <div v-if="!studyMode">
            <p class="mode-title">Game Mode</p>
            <div class="skip-container" v-if="!studyMode">
              <span class="grey-text lighten-2">Skips Remaining</span>

              <i v-for="(skip, index) in skipsAllowed" :key="skip" class="material-icons">
                {{ index < skipsRemaining ? "lens" : "panorama_fish_eye"}}
              </i>
            </div>
          </div>

        </div>


      </div>




    </div>
  </div>
  <script src="math-facts.js"></script>
</body>

</html>